.workLink {
    text-decoration: none;
    color: #000000;
}

.experienceCard {
    background-color: white;
    padding: 5px 25px;
    border-radius: 25px;
    margin-top: 50px;
    min-height: 300px;
    max-width: 1300px;
    box-shadow: 5px 5px rgba(165, 165, 165, 0.5);
    transition: transform 0.3s ease;
}

.experienceCard:hover {
    transform: scale(1.1) translateY(-5px);
    background-color: #dfdfdf;
    cursor: pointer;
}

.experienceHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
}

.experienceTime {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: right;
}

.experienceTitle {
    margin-top: 20px;
    text-align: center;
}

.jobTitle {
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
}

.companyLogo {
    width: 125px;
}

.learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 15px;
}

.learnMore p {
    margin: 0px;
}

.learnMore img {
    width: 25px;
}