.projectLink {
    text-decoration: none;
    color: #000000;
}


.projectCard {
    position: relative;
    height: 800px;
    max-width: 500px;
    min-width: 500px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 25px;
    justify-items: center;
    box-shadow: 5px 5px rgba(165, 165, 165, 0.5);
    transition: transform 0.3s ease, box-shadow 0.6s ease;
}

.projectCard:hover {
    transform: scale(1.1) translateY(-5px);
    background-color: #dfdfdf;
    cursor: pointer;
}

.projectTitle {
    text-align: center;
    width: 350PX;
}

.projectTitleBox {
    display: flex;
    height: 80px;
    align-items: center;
}

.timeFrame {
    text-align: right;
    width: 100%;
}

.projectImg {
    max-width: 450px;
    max-height: 250px;
    margin: 25px 0px;
    border-radius: 25px;
}

.shortDes {
    color: #000000;
    font-size: 18px;
    width: 350px;
}

.learnMoreP {
    position: absolute;
    top: 725px;
    left: 200px;
    display: flex;
}

.learnMoreP p {
    margin: 0px;
}

.learnMoreP img {
    width: 25px;
}

@media (max-width:750px) {
    .projectCard {
        min-width: 300px;
        width: 100%;
    }

    .projectImg {
        width: 250px;
    }
}