.header {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 25px;
    gap: 20px;
}

.headerText {
    max-width: 700px;
    text-align: center;
    align-self: center;
    flex: 1 1 400px;
}

.headerImg {
    max-width: 500px;
    min-width: 300px;
}

.techUsed {
    text-align: center;
    background-color: #383838;
    color: white;
    padding: 50px 100px;
    padding-bottom: 100px;
}

.skillCards {
    display: flex;
}

.about {
    color: white;
    text-align: center;
    display: grid;
    padding: 50px 50px;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.about.left {
    background-color: #454545;
    flex-direction: row-reverse;
}

.aboutText {
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 50px 0px;
    min-width: 350px;
}

/*
.aboutImg {
    max-width: 1300px;
    min-width: 400px;
    height: auto;
    flex-shrink: 1;
}

.ImgContainer {
    flex-shrink: 1;
    flex: 1 1 400px;
    width: 100%;
    max-width: 1300px;
}*/
.aboutImg {
    max-width: 100%;
    width: 100%;
    height: auto;
    min-width: 350px;
    /* Allow shrinking below 400px */
}

.ImgContainer {
    width: 100%;
    max-width: 1300px;
    min-width: 0;
    align-self: center;
    padding-bottom: 50px;
    /* Allow container to shrink */
}

@media (max-width:1000px) {
    .about {
        display: block;
        padding: 0 25px;
    }
}