html {
    scroll-behavior: smooth;
}

.header {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 25px;
    gap: 20px;
}

.headerText {
    max-width: 700px;
    text-align: center;
    align-self: center;
    flex: 1 1 400px;
}

.headerImg {
    max-width: 500px;
    min-width: 300px;
    border-radius: 25px;
}

.techUsed {
    text-align: center;
    background-color: #383838;
    color: white;
    padding: 50px 100px;
    padding-bottom: 100px;
}

.skillCards {
    display: flex;
}

.about {
    color: white;
    text-align: center;
    display: grid;
    padding: 50px 50px;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}



.aboutText {
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 50px 0px;
    min-width: 350px;
    direction: ltr;
}

/*
.aboutImg {
    max-width: 1300px;
    min-width: 400px;
    height: auto;
    flex-shrink: 1;
}

.ImgContainer {
    flex-shrink: 1;
    flex: 1 1 400px;
    width: 100%;
    max-width: 1300px;
}*/
.aboutImg {
    max-width: 100%;
    width: 100%;
    height: auto;
    /*min-width: 350px;*/
    /* Allow shrinking below 400px */
}

.ImgContainer {
    width: 100%;
    max-width: 1300px;
    min-width: 0;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* Allow container to shrink */
}

.VideoDemo {
    justify-items: center;
    background-color: #454545;
    width: 100%;
    padding: 50px 0px;
}

.video-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    aspect-ratio: 16 / 9;
}

.Video {
    width: 100%;
    height: 100%;
    border: none;
}

.FillerText {
    color: white;
    font-size: larger;
    text-align: center;
    padding-top: 150px;
}

.links {
    padding: 50px;
    width: 100%;
}

.btnSection {
    margin-top: 75px;
    margin-bottom: 50PX;
    display: flex;
    justify-content: space-evenly;
}

.GithubBtn {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: auto;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 3px 3px rgba(165, 165, 165, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.GithubBtn:hover {
    background-color: #A0A0A0;
    transform: scale(1.1);
}

.btnText {
    color: black;
    margin: 0;
}

.btnIcons {
    width: 25px;
}

.left {
    background-color: #454545;
    direction: rtl;
}

.right {
    background-color: #272626;
}

@media (max-width:1000px) {
    .about {
        display: block;
        padding: 0 25px;
    }
}