.HeaderSection {
    height: 300px;
    text-align: center;
    align-content: center;
    justify-self: center;
    color: white;
}

.Title {
    color: white;
    align-self: center;
    font-size: 45px;
    text-align: center;
}

.PersonalDescription {
    justify-self: center;
    font-size: large;
    max-width: 700px;
}

div#root {
    background-color: #272626;
}

.projectSection {
    padding: 50px 100px;
    background-color: #454545;
    padding-bottom: 100px;
}

.projectCards {
    margin-top: 50px;
    gap: 50px;
    row-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skillSection {
    padding: 50px 100px;
    padding-bottom: 100px;
}

.skills {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    row-gap: 50px;
    justify-content: space-evenly;
}

.techExperienceSection {
    padding: 50px 100px;
    padding-bottom: 100px;
    background-color: #454545;
}

.Experiences {
    justify-self: center;
}

.contactMeSection {
    padding: 50px 100px;
    justify-self: center;
}

@media (max-width: 550px) {
    .projectSection {
        padding: 50px 0px;
    }

    .contactMeSection {
        padding: 50px 0px;
    }
}