.HeaderSection {
    height: 300px;
    text-align: center;
    align-content: center;
    justify-self: center;
    color: white;
    padding: 10px;
}

.Title {
    color: white;
    align-self: center;
    font-size: 45px;
    text-align: center;
}

.Title.Site {
    font-size: clamp(20px, 5vw, 45px) !important;
}

.PersonalDescription {
    justify-self: center;
    font-size: clamp(13px, 2.5vw, 20px);
    max-width: 700px;
}

div#root {
    background-color: #272626;
}

.projectSection {
    padding: 50px 100px;
    background-color: #454545;
    padding-bottom: 100px;
}

.projectCards {
    margin-top: 50px;
    gap: 50px;
    row-gap: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: space-evenly;
}

.skillSection {
    padding: 50px 100px;
    padding-bottom: 100px;
}

.skills {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    row-gap: 50px;
    justify-content: space-evenly;
}

.techExperienceSection {
    padding: 50px 100px;
    padding-bottom: 100px;
    background-color: #454545;
}

.Experiences {
    justify-self: center;
}

.contactMeSection {
    padding: 50px 100px;
    justify-self: center;
}

@media (max-width: 650px) {
    .projectSection {
        padding: 50px 20px;
    }

    .projectCards {
        display: flex;
        flex-wrap: wrap;
    }

    .contactMeSection {
        padding: 50px 0px;
    }
}